
@using MarketsInfo.Models
@model MarketsInfo.Models.News

@{
    ViewBag.Title = "Details";
}



<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">


        <div>
           <h2> @Html.DisplayFor(model => model.Title)</h2>
       </div>


        <div class="news-date">
            Posted on
            <i>  @Html.DisplayFor(model => model.date)</i>
        </div>
        <div class="news-author">
            
            @if (Model.Author != null)
            {
                @:by <i>
                @Model.Author.FullName
                @:( @Model.Author.UserName )</i>
            }
            



        </div>


        <text>
            @Html.Raw( Model.Body)

        </text>

        <div>
            @Html.ActionLink("Add comment", "Create", "Comments")
        </div>
        
        <div>
            @foreach (var news in Model.Comments)
            {
                <div id="wrap">
                    <div id="header">
                        <p>@Html.DisplayFor(model => news.Text)</p>
                    </div>
                    <div id="inner-wrap">
                        <div id="avatar">Author:
                      
                            @if (news.AuthorId == null)
                            {
                                @:Guest
                            }
                            else
                            {
                                @Html.DisplayFor(model => news.AuthorId)

                            }

                        </div>
                        <div id="arrow"></div>
                        <div id="main" style="position: relative">
                            <div id="filler">@Html.DisplayFor(model => news.Date)</div>

                            <div style="clear: both">
                            </div>
                            <div style="clear: both">
                            </div>
                        </div>
                    </div>
                </div>
                if (User.IsInRole("Administrators") || (news.AuthorId != null && User.Identity.Name == news.AuthorId))
                {
                    <div id="action-edit">@Html.ActionLink("Edit", "Index", "Comments")</div>
                }
                if (User.IsInRole("Administrators"))
                 {
                     <div id="action-delete">@Html.ActionLink("Delete", "Index", "Comments")</div>
                 }
            }
             </div>

        </dl>
        </div>
        <p>
 
            @Html.ActionLink("Back to List", "Index")
        </p>
