
@using MarketsInfo.Classes
@using MarketsInfo.Models
@model IEnumerable<MarketsInfo.Models.News>



@{
    ViewBag.Title = "Home";
}


    <img src="~/Content/tfi-top-am-financial-markets.jpg" />




<div class="container">
    
    <div class="row page-intro">
        <div class="col-lg-12">
            <h1>
               MarketsInfo
                <small></small>
            </h1>
            <p>At MarketsInfo, you get  stock quotes, financial, business and economic news .</p>
        </div>
    </div>
    
    @foreach (News news in Model)
    {
        <div class="row page-intro">
          
                <article class="col-md-12 article-intro">

                    <h3>
                        @Html.ActionLink(@news.Title, "Details", new {id = news.Id})
                    </h3>
                    <p class="news-date"><i>Posted on @news.date</i></p>
                    <p class="news-author">
                        
                        @if (news.Author != null)
                              {
                                  @:by <i>
                                  @news.Author.FullName
                                  @:( @news.Author.UserName )</i>
                              }
                    </p>
                    <p>@Html.Raw(Utiles.CutText(news.Body))</p>
                </article>
            
        </div>

    }

</div>



